---
"use client";

import "@/styles/global.css";
import { Button } from "@/components/ui/button";
---

<>
	<h1 class="text-xl">some product &trade;</h1>

	<form>
		<label>
			webhook URL:
			<input type="text" />
		</label>

<label>
API secret:
<input type="text" />
		</label>

		<Button size="sm"> confirm </Button>
	</form>
</>
